<div class="center-div">
    <!--Show this if user not authenticated - enum value 0-->
    <div class="content-div" *ngIf="!auth.authenticated()">
        <img class="image-logo" src="assets/images/tb-logo.png" />
        <h2>Teknobyenappen</h2>
        <p>For å kunne bruke appen må <br/>du logge inn med Facebook</p>
        <button md-raised-button align="center" (click)="auth.login()">Login</button>
    </div>

    <!--Show this if auth ok, no roomnumber-->
    <div class="content-div" *ngIf="showRoomRegistration()">
        <h3>Velkommen {{ auth.getName().split(' ')[0] }}</h3>
        <p>Før du kan bruke appen må du registrere romnummeret ditt.</p>
        <md-input-container>
            <input mdInput #roomnumberInput type="number" placeholder="Romnummer" required>
        </md-input-container>
        <div>
            <button md-raised-button (click)="registerRoomnumber(roomnumberInput.value)" >Registrer</button>
        </div>  
    </div>

    <!--Show this while checking for roonmumber-->
    <div class="content-div" *ngIf="waitingForServerReply">
        <md-spinner align="center"></md-spinner>
    </div>

</div>