<md-card>
  <md-card-title align="center">
    Highscore
  </md-card-title>
  <md-card-content align="center">
    <table class="highscore-table" align="center">
        <thead>
            <tr>
                <td class="position-column"><h3>Plass</h3></td>
                <td class="position-column"><h3>Rom</h3></td>
                <td class="position-column"><h3>Poeng</h3></td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of highscore; let i = index">
                <td class="position-column">{{i +1}}</td>
                <td class="">{{item.roomNumber}}</td>
                <td class="">{{item.points}}</td>
            </tr>
        </tbody>
    </table>
  </md-card-content>
</md-card>