<md-card>
    <md-card-title align="center">
        Vaskeliste
    </md-card-title>
    <md-card-content align="center">
        <div *ngIf="cleaningList">
            <div *ngFor="let cleaningWeek of cleaningList.getCleaningLists()">
                <h3>Week {{ cleaningWeek.weeknumber }} - {{ cleaningWeek.firstDayOfWeek | date }}</h3>
                <table class="washlist-table" align="center">
                <tbody>
                    <tr>
                        <td class="date-column"><h4>Oppgave</h4></td>
                        <td class="date-column"><h4>1</h4></td>
                        <td class="date-column"><h4>2</h4></td>
                    </tr>
                </tbody>
                <tbody *ngFor="let item of cleaningWeek.getAssignments(); let i = index">
                    <tr *ngIf="item.taskOne.date">
                        <td>{{item.taskOne.date | date:'EEE'}}</td>
                        <td>{{item.taskOne.roomNumber}}</td>
                        <td>{{item.taskTwo.roomNumber}}</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </md-card-content>
    <md-card-actions *ngIf="enablePrint" align="center">
        <button md-raised-button>
            Print
        </button>
    </md-card-actions>
</md-card>