.toolbar {
    height: 58px;
}

.example-container {
    height: calc(100% - 58px);
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    /*align-items: center;
    justify-content: center;*/
}

.example-sidenav {
    width: 250px;
}

.nav-label {
    margin-left: 10px;
}

@media screen and (min-width: 600px) {
    .example-container {
        height: calc(100% - 64px);
    }

    .example-sidenav {
        width: 340px;
    }
}