.toolbar {
    height: 58px;
}

.example-container {
    height: calc(100% - 58px);
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    /*align-items: center;
    justify-content: center;*/
}

.example-sidenav {
    width: 250px;
}

.nav-label {
    margin-left: 10px;
}

.vertical-spacer {
    flex: 1 1 auto;
    flex-direction: column;
}

.profile-section {
    position: absolute;
    bottom: 5px;
    width: 100%;
}

.img-circle {
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

.nav-label {
    overflow-x: hidden;
}

.toolbar-appname {
    padding-right: 30px;
}

@media screen and (min-width: 600px) {
    .example-container {
        height: calc(100% - 64px);
    }

    .example-sidenav {
        width: 340px;
    }
}